:root {
  color-scheme: light dark;
  font-family: system-ui, sans-serif;
}

html,
body,
#app {
  width: 100%;
  height: auto;
  margin: 0;
  overflow: visible;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
